p {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border-color: black;
}
body {
  margin: 0px;
  padding-top: 90px;

  background-image: url("../images/background.png");
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: 50% 98%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  background-image: url("../images/headerBackground.jpeg");
  background-position: 92% 83%;
  height: 70px;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  box-shadow: -1px 1px 20px 0 rgba(0, 0, 0, 0.3);

  position: fixed;
  top: 10px;
  right: 9px;
  z-index: 100;
}
.menu {
  margin-left: 10px;
  background-color: rgba(212, 212, 212, 0.747);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  width: 9em;
}
.menu p {
  color: rgb(0, 101, 168);
  font-size: 21px;
}
.leftSection {
  padding-left: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftSection button {
  height: 60px;
  width: 100%;
  font-size: 17px;
  font-family: sans-serif;
  border: none;
  background-color: transparent;
  transition: background-color 0.15s, color 0.15s;
}
.leftSection button:hover {
  background-color: rgba(202, 202, 202, 0.829);
  cursor: pointer;
  height: 60px;
  width: 100%;
  border-radius: 3px;
}
.leftSection button:active {
  background-color: rgba(202, 202, 202, 0.5);
  cursor: pointer;
  height: 60px;
  width: 100%;
  border-radius: 3px;
}
.flexHolder {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 1200px;
}
.holder {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#iFrame {
  width: 100%;
  height: 100%;
  border: 1.9px solid black;
}
.youtubeVid {
  display: flex;
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.imageContainer {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.textHolder {
  font-size: 50px;
  width: inherit;
  text-align: center;
  margin-top: 30px;
}
.textHolderEmoji {
  font-size: 50px;
  width: inherit;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.schooliFrame {
  height: 720px;
  margin-top: 20px;
  border: 1.9px solid black;
}

.text2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.text3 {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}
.text4 {
  font-size: 17px;
  font-family: sans-serif;
}
.emoji {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
#FOOTER {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.aboutUsHolder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.skills {
  width: 250px;
}
.skillsHolder {
  display: flex;
  flex-direction: row;
}
.footer,
.skills p {
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .holder {
    grid-template-columns: 1fr;
  }
  .flexHolder {
    width: 30rem;
  }
  .grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .schooliFrame {
    height: 420px;
  }
}
/*Mobile*/
@media (min-width: 360px) and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .flexHolder {
    width: 22rem;
  }
  .menu {
    width: 30%;
  }
}
